<div class="login-container">

<mat-card layout-align="center center">
  <mat-card-header>
    <div mat-card-avatar class="login-header-image"></div>
    <mat-card-title>Первая Форма</mat-card-title>
    <mat-card-subtitle>Вход</mat-card-subtitle>
  </mat-card-header>
    <form>
      <mat-form-field>
          <input matInput placeholder="Логин">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Пароль">
      </mat-form-field>
      <mat-checkbox>Не выходить из системы</mat-checkbox>
    </form>
  <mat-card-content>
    
  </mat-card-content>

  <button mat-raised-button color="primary">Войти</button>
  
  <!-- align="end" -->
  <!-- <mat-card-actions>
    <button mat-raised-button color="primary">Войти</button>
  </mat-card-actions> -->
</mat-card>

</div>