<p>Counter App Module</p>
<div>
  <button type="button"
          (click)="undo($event)">Undo</button>
  <button type="button"
          (click)="redo($event)">Redo</button>
</div>
<div>
  Add/Remove counter:
  <button (click)="addCounter($event)">+</button>
  <button (click)="removeCounter($event)">-</button>
</div>
<br>
<app-counter *ngFor="let counter of counters$ | async"
             (increment)="incCounter($event)"
             (decrement)="decCounter($event)"
             [counter]="counter"></app-counter>