<h3>Demo for app that uses</h3>

<ul>
	<li>redux</li>
	<li>angular-redux/
		<a target="_blank"
		   href="https://github.com/angular-redux/store">store</a>
	</li>
	<li>angular-redux/
		<a target="_blank"
		   href="https://github.com/angular-redux/router">router</a>
	</li>
	<li>angular-redux/
		<a target="_blank"
		   href="https://github.com/angular-redux/form">forms</a>
	</li>
	<li>
		<a target="_blank"
		   href="https://github.com/angular-redux/store/blob/master/articles/fractal-store.md">
			how configure store with lazy loaded modules and fractal</a>
	</li>
	<li>
		<a target="_blank"
		   href="https://github.com/redux-observable/redux-observable/blob/master/docs/recipes/AddingNewEpicsAsynchronously.md">
			how add epics dynamically to root epic</a>
	</li>
	<li>how log/report in production with
		<a target="_blank"
		   href="https://github.com/zalmoxisus/redux-remotedev">
			redux-remote</a>
	</li>
	<li>undo/redo with
		<a href="https://github.com/omnidan/redux-undo"
		   target="_blank">redux-undo</a>
	</li>
	<li>normilize state with
		<a href="https://github.com/paularmstrong/normalizr"
		   target="_blank">normalizr</a>
	</li>
</ul>
<h3>FAQ</h3>
<ul>
	<li>
		<a target="_blank"
		   href="https://stackoverflow.com/questions/34570758/why-do-we-need-middleware-for-async-flow-in-redux">
			why do we need middleware for async flow?</a>
	</li>
</ul>