<mat-toolbar color="primary"
             class="core-toolbar">
  <span style="cursor:pointer"
        (click)="companyLogoClick()">1F Demo </span>

  <span fxFlex></span>
  {{appUserName$ | async}}
  <mat-menu #rootMenu="matMenu">
    <button mat-menu-item
            disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item
            [matMenuTriggerFor]="subMenu">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item
            (click)="logoutUser()">
      <mat-icon>sentiment_dissatisfied</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
  <mat-menu #subMenu="matMenu">
    <button mat-menu-item
            type="button"
            (click)="setTheme('Theme 1')">
      <mat-icon>color_lens</mat-icon>
      <span>Theme 1</span>
    </button>
    <button mat-menu-item
            type="button"
            (click)="setTheme('Theme 2')">
      <mat-icon>color_lens</mat-icon>
      <span>Theme 2</span>
    </button>
    <button mat-menu-item
            type="button"
            (click)="setTheme('Theme 3')">
      <mat-icon>color_lens</mat-icon>
      <span>Theme 3</span>
    </button>
  </mat-menu>
  <button mat-icon-button
          [matMenuTriggerFor]="rootMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="core-nav-container">
  <mat-sidenav #sidenav
               mode="side"
               [opened]="true">
    <nav class="side-nav-menu">
      <h3>Core menu</h3>
      <ul>
        <li>
          <a routerLink="/bulma"
             routerLinkActive="active">
            Bulma UI
          </a>
        </li>
        <li>
          <a routerLink="/counter"
             routerLinkActive="active">
            Counter App (Reducer/fractals demo)
          </a>
        </li>
        <li>
          <a routerLink="/lazy-epic"
             routerLinkActive="active">
            Lazy epic demo
          </a>
        </li>
        <li>
          <a routerLink="/ngr-forms"
             routerLinkActive="active">
            Angular redux forms
          </a>
        </li>
      </ul>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>