<mat-toolbar color="primary" class="core-toolbar">
  1F Demo

  <span fxFlex></span>
  {{appUserName$ | async}}
  <mat-menu #rootMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="subMenu">Меню</button>
    <button mat-menu-item (click)="logoutUser()">
      Выход
    </button>
  </mat-menu>
  <mat-menu #subMenu="matMenu">
    <button mat-menu-item>Меню 1</button>
    <button mat-menu-item>Меню 2</button>
    <button mat-menu-item>Меню 3</button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="rootMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="core-nav-container">
  <mat-sidenav #sidenav mode="side" [opened]="true">
    <nav class="side-nav-menu">
      <h3>Core menu</h3>
      <ul>
        <li>
          <a>
            Feature 1
          </a>
        </li>
        <li>
          <a>
            Feature 2
          </a>
        </li>
      </ul>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    content + router
  </mat-sidenav-content>
</mat-sidenav-container>
