/* You can add global styles to this file, and also import other style files */
@import "~normalize.css/normalize.css";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html, body {
	height: 100%;
}

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$default-app-primary: mat-palette($mat-indigo);
$default-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$default-app-theme:   mat-light-theme($default-app-primary, $default-app-accent);

// Include the default theme styles.
@include angular-material-theme($default-app-theme);


$grey-primary: mat-palette($mat-cyan);
$grey-accent:  mat-palette($mat-purple, 500, 900, A100);
$grey-warn:    mat-palette($mat-cyan);
$grey-theme: mat-light-theme($grey-primary, $grey-accent, $grey-warn);


$theme3-primary: mat-palette($mat-green);
$theme3-accent:  mat-palette($mat-indigo, 500, 900, A100);
$theme3-warn:    mat-palette($mat-red);
$theme3-theme: mat-light-theme($theme3-primary, $theme3-accent, $theme3-warn);



.default-theme {
	@include angular-material-theme($default-app-theme);
}
.dark-theme {
	@include angular-material-theme($grey-theme);
}
.theme3 {
	@include angular-material-theme($theme3-theme);
}